.header {
  position: sticky;
  top: 0;
  padding: 2.25rem 0;
  background: var(--appBg);
  z-index: 2;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoLink {
  display: flex;
  align-items: center;
  max-width: 200px;
  width: 100%;
}

.linkGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.responsiveLinkGroup {
  display: none;
}

.pageLink {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--textDark);
  cursor: pointer;
}

.pageLink:hover {
  text-decoration: underline;
}

.visible {
  opacity: 1;
  height: auto;
  width: auto;
  transition: opacity ease-in-out 0.5s;
}

.notVisible {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
}

@media (min-width: 585px) {
  .header {
    position: relative;
    padding: 4rem 0;
  }

  .menuWrapper {
    display: none;
  }

  .responsiveLinkGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    width: 100%;
    max-width: 370px;
  }
}
