.mobileMenu {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  right: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 6.125rem;
}

.mobileLinks {
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  background: var(--darkBg);
  color: var(--white);
}

.mobileLink {
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-top: 2rem;
  text-transform: uppercase;
}

.mobileLink:first-child {
  margin-top: 0;
}
