.footer {
  background-color: var(--darkBg);
  color: var(--textLight);
  text-align: center;
  padding-top: 15.8125rem;
  padding-bottom: 4rem;
}

.internalLinks,
.externalLinks,
.footerLinks,
.addresses {
  display: flex;
  flex-direction: column;
}

.logoLink {
  display: flex;
  align-items: center;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
}

.footerLinks {
  margin-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 2rem;
}

.footerLink {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 2rem;
}

.footerLink:last-child {
  margin-bottom: 0;
}

.footerLink:hover {
  text-decoration: underline;
}

.address {
  margin-top: 2.5rem;
  opacity: 0.5;
}

.footerIcons {
  margin-top: 2.5rem;
}

.iconLink {
  margin-right: 1rem;
  color: var(--iconColour);
}

.iconLink:last-child {
  margin-right: 0;
}

.iconLink:hover {
  color: var(--iconHover);
}

@media (min-width: 700px) {
  .footer {
    padding-top: 10.375rem;
    padding-bottom: 5rem;
    text-align: left;
  }

  .internalLinks,
  .externalLinks,
  .footerLinks,
  .addresses {
    flex-direction: row;
    justify-content: space-between;
  }

  .internalLinks {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 2.5rem;
  }

  .footerLinks {
    margin-top: 0;
    border-top: none;
    padding-top: 0;
    align-items: center;
    max-width: 370px;
    width: 100%;
  }

  .footerLink {
    margin-bottom: 0;
  }

  .externalLinks {
    align-items: flex-end;
  }

  .logoLink {
    margin: 0;
  }

  .addresses {
    width: 100%;
    max-width: 550px;
  }

  .address {
    margin-top: 2rem;
  }

  .footerIcons {
    min-width: 184px;
    margin-left: 3.125rem;
  }
}

@media (min-width: 900px) {
  .footer {
    padding-top: 9rem;
    padding-bottom: 4.5rem;
  }
}
