.projectSection,
.cardSection,
.CTASection {
  margin-top: 7.5rem;
}

@media (min-width: 900px) {
  .projectSection,
  .cardSection,
  .CTASection {
    margin-top: 10rem;
  }
}

.introSection {
  background-color: var(--highlightBg);
  color: var(--textLight);
  padding: 6.5rem 0;
  background-image: url(/web-design/desktop/bg-pattern-intro-web.svg);
  background-repeat: no-repeat;
  background-position: top right;
  text-align: center;
}

.introParagraph {
  margin-top: 1.5rem;
}

.introContainer {
  padding: 0 1.5rem;
}

@media (min-width: 550px) {
  .introSection {
    margin: 0 2.5rem;
    border-radius: var(--borderRadiuslarge);
    padding: 4rem 0;
    background-position: center left -2rem;
  }

  .introContainer {
    padding: 0 3.625rem;
  }

  .introParagraph {
    max-width: 445px;
    margin: 1.5rem auto 0;
  }
}

@media (min-width: 900px) {
  .introSection {
    max-width: 1111px;
    margin: 0 auto;
    background-position: center right;
  }
}

/* project section */

@media (min-width: 900px) {
  .projectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.875rem;
    row-gap: 1.5rem;
  }
}
