@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap");

:root {
  /* colours */
  --peach: #e7816b;
  --lightPeach: #ffad9b;
  --black: #1d1c1e;
  --darkGrey: #333136;
  --white: #ffffff;
  --lightGrey: #f1f3f5;

  /* intentions */
  --appBg: var(--white);
  --darkBg: var(--black);
  --highlightBg: var(--peach);
  --secondaryHighlightBg: var(--lightPeach);

  --textDark: var(--black);
  --textLight: var(--white);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Jost", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.12;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.29;
  letter-spacing: 1.4px;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: 5px;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.62;
  margin: 0;
}

p {
  font-size: 0.9375rem;
  line-height: 1.67;
  margin: 0;
}

@media (min-width: 550px) {
  h1 {
    font-size: 3rem;
    line-height: 1;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: 2px;
  }

  p {
    font-size: 1rem;
    line-height: 1.62;
    margin: 0;
  }
}
