.projectSection,
.featureSection,
.CTASection {
  margin-top: 7.5rem;
}

@media (min-width: 900px) {
  .projectSection,
  .featureSection,
  .CTASection {
    margin-top: 10rem;
  }
}

.main {
  text-align: center;
  color: var(--textDark);
  position: relative;
}

/* intro */

.introSection {
  background-color: var(--highlightBg);
  color: var(--textLight);
  padding-top: 5rem;
  padding-bottom: 28.125rem;
  background-image: url(/home/desktop/image-hero-phone.png),
    url(/home/desktop/bg-pattern-hero-home.svg);
  background-position: center bottom -23.25rem, center left;
  background-repeat: no-repeat;
}

.introParagraph {
  margin: 1.5rem 0;
}

.introContainer {
  padding: 0 1.5rem;
}

@media (min-width: 550px) {
  .introSection {
    margin: 0 2.5rem;
    border-radius: var(--borderRadiuslarge);
    padding-top: 3.75rem;
    background-position: center bottom -22.25rem, center left 10.75rem;
  }

  .introContainer {
    padding: 0 3.625rem;
  }

  .introParagraph {
    max-width: 445px;
    margin: 1.5rem auto;
  }
}

@media (min-width: 900px) {
  .introSection {
    max-width: 1111px;
    margin: 0 auto;
    padding: 9rem 0;
    background-position: top -1.75rem right -5rem, top right;
  }

  .introContainer {
    text-align: left;
    max-width: 540px;
    padding: 0;
    margin-left: 6rem;
  }

  .introParagraph {
    margin: 2.25rem 0 2.5rem;
  }
}

/* project section */

@media (min-width: 900px) {
  .projectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1.875rem;
    row-gap: 1.5rem;
  }

  .largeProjectLink {
    grid-row: 1 / span 2;
  }
}

/* feature section */

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featureContent {
  margin-top: 3rem;
}

.feature:first-child {
  margin-top: 0;
}

.featureText {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.62;
}

@media (min-width: 550px) {
  .feature {
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
  }

  .featureContent {
    margin-top: 0;
    margin-left: 3rem;
    text-align: left;
  }
}

@media (min-width: 950px) {
  .features {
    flex-direction: row;
    justify-content: space-between;
  }

  .feature {
    flex-direction: column;
    margin-top: 0;
    max-width: 350px;
    margin-right: 1rem;
  }

  .feature:last-child {
    margin-right: 0;
  }

  .featureContent {
    text-align: center;
    margin: 0;
    margin-top: 3rem;
  }
}
