.projectSection,
.featureSection,
.CTASection {
  margin-top: 7.5rem;
}

.main {
  text-align: center;
  color: var(--textDark);
  position: relative;
}

.introSection {
  background-color: var(--highlightBg);
  color: var(--textLight);
  padding-top: 5rem;
}

@media (min-width: 900px) {
  .projectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1.875rem;
    row-gap: 1.5rem;
  }

  .largeProjectLink {
    grid-row: 1 / span 2;
  }
}
